<div class="row">
  <div class="col-md-8 offset-md-2">
    <h5 class="card-title">
      All Sellers
    </h5>


    <div class="card-columns">
      <% @users.each do |user| %>

        <div class="card border-white text-center">
          <a href="/users/<%= user.id %>">
            <img src="<%= user.avatar%>" class="img-fluid img-thumbnail">
          </a>

          <a href="/users/<%= user.id %>" class="text-secondary">
            <%= user.username %>
          </a>

        </div>

      <% end %>
    </div>
  </div>
</div>
</div>
