<h1>
  Edit activity type #<%= @activity_type.id %>
</h1>

<hr>

<form action="/update_activity_type/<%= @activity_type.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @activity_type.title %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update activity type
  </button>
</form>

<hr>

<a href="/activity_types">
  Go back
</a>
